<div class="row d-flex justify-content-center">
  <img
    src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
    class="avatar rounded-circle img-thumbnail"
    alt="avatar"
  />
</div>
<div>
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <label style="text-align: center" class="col-12 text-center mt-3"
        >Name</label
      >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="formObj.name"
        placeholder="Name"
      />
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-4 mt-3">
      <label class="col-12 text-center">Email</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="formObj.email"
        placeholder="Email"
      />
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-4 mt-3">
      <label class="col-12 text-center">Password</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="formObj.password"
        placeholder="password"
      />
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-4 mt-3">
      <label class="col-12 text-center">Address</label>
      <input type="text" class="form-control" placeholder="address" />
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center mt-3">
  <button (click)="submit()" type="button" class="btn btn-secondary">
    Submit
  </button>
</div>
<div class="row d-flex justify-content-center mt-3">
  <button (click)="send()" type="button" class="btn btn-secondary">send</button>
</div>

<!-- 
<div class="picture">
  <img
    src="assets/img/default-avatar.png"
    class="picture-src"
    id="wizardPicturePreview"
    title=""
  />
  <input type="file" id="wizard-picture" />
</div> -->
