<!-- <p>admin works!</p> -->
<div class="d-flex justify-content-center mt-5">
  <button (click)="send()" type="button" class="btn btn-secondary">send</button>
</div>

<div class="d-flex justify-content-center mt-5">
  <button (click)="submit()" type="button" class="btn btn-primary">
    submit
  </button>
</div>

<div class="d-flex justify-content-center mt-5">
  <button (click)="form()" type="button" class="btn btn-success">form</button>
</div>

<div class="d-flex justify-content-center mt-5">
  <button
    (click)="sending(' have a nice day')"
    type="button"
    class="btn btn-dark"
  >
    sending
  </button>
</div>

<div class="d-flex justify-content-center mt-5">
  <button (click)="remove()" type="button" class="btn btn-success">remove</button>
</div>

<!-- <nav class="col-sm-3">
  <div class="col-sm-12" id="fixed-sidebar">
    <!-- <a href="index.html"><img id="home-logo" src="../media/logo-prueba.jpg" alt="Logo de Animanoir"></a>  -->
<!-- <ul>
      <li class="fuente-fjalla ul-personalizada">Animación</li>
      <li class="fuente-fjalla ul-personalizada">Ilustración</li>
      <li class="fuente-fjalla ul-personalizada">Interacción</li>
      <br />
      <li class="fuente-fjalla ul-personalizada">Blog</li>
      <br />
      <li class="fuente-fjalla ul-personalizada">
        <a href="acerca.html">Acerca</a>
      </li>
      <li class="fuente-fjalla ul-personalizada">Contacto</li>
    </ul>
  </div>
</nav> -->
<!-- side navbar -->
<!-- <div class="container-fluid h-100">
    <div class="row h-100">
        <aside class="col-12 col-md-2 p-0 bg-dark fixed-top">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse align-items-start">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap" href="#"><i class="fa fa-bullseye fa-fw"></i> <span class="font-weight-bold">Brand</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-heart-o fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-book fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-heart fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-star fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-list fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside> -->
